.card-grid {
    width: 100%;
    height: 20vw;
    object-fit: cover;
}

.card-detail {
    width: 100%;
    height: 50vw;
    object-fit: cover;
}

.navBar-main {
    background-color: #f58d16;
    color: white,
}

.background-main{
    background-color:#167EF5;
    /* margin: 0!important; */
    width: 100vw;

}

.grid-margin{
    margin-top: 1;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3;
}

.text-header{
    color:white;
}
/* secondary #167EF5
    Terciary #90C2FA */
